// Cayenne authentication token. This should be obtained from the Cayenne Dashboard.
#ifndef CAYENNE_TOKEN
#define CAYENNE_TOKEN "my_token"
#endif

// Your network name and password.
#ifndef WIFI_SSID
#define WIFI_SSID "my_ssid"
#endif

#ifndef WIFI_PASSWORD
#define WIFI_PASSWORD "my_password"
#endif
